<!-- Navbar -->

<!-- Activități -->
<section class="activities-wrapper">
  <div class="activities-grid">
    <a class="activity-card" routerLink="/ping-pong">
      <img src="assets/pingpong.png" alt="Ping-Pong" />
      <div class="activity-title">Ping-Pong</div>
    </a>
    <a class="activity-card" routerLink="/playstation">
      <img src="assets/ctr.jpg" alt="PlayStation" />
      <div class="activity-title">PlayStation</div>
    </a>
    <a class="activity-card" routerLink="/fussball">
      <img src="assets/fussball.jpg" alt="Fussball" />
      <div class="activity-title">Fussball</div>
    </a>
    <a class="activity-card" routerLink="/massage">
      <img src="assets/masaj.jpg" alt="Masaj" />
      <div class="activity-title">Massage</div>
    </a>
  </div>
</section>
